*{
    margin: 0;
    padding: 0;
}
/* body */

body{
    max-width: 1500px;
    min-width: 300px;
    margin: 0 auto;
}


/* font */
.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/* Shared styles */

.text-color1{
    color: #181818;
}
.text-color2{
    color: #474747;
}
.text-color3{
    color: #757575;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 18px 36px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}

.regular{
    font-size: 18px;
    font-weight: 400;
}

.regular-small{
    font-size: 16px;
    color: #757575;
}

.title{
    font-size: 35px;
    font-weight: 700;
}

.sub-title{
    font-size: 30px;
    font-weight: 600;
}

.bold{
    font-weight: bold;
}
/* Header styling */

header{
    height: 837px;
    width: 100%;
    padding: 50px 38px 0 23px;
    margin: 0 auto;
    background-image: url('../portfolio-resources/images/developer.png'), url('../portfolio-resources/images/header_bg.png');
    background-color: #fff8f3;
    background-position: 23px, bottom right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* navbar styling */

header nav{
    display: flex;
    justify-content: space-between;
}

nav h3{
    margin-left: 226px;
    font-weight: bolder;
    font-size: 45px;
}

nav > ul{
    display: flex;
    align-items: center;
    margin-right: 180px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
} 

nav li a {
    text-decoration: none;
}

.span-color{
    color:#FD6E0A;
}

/* Container styling */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 38px 0 0;
    padding-bottom: 0;
}

/* container section */

.content{
    width: 585px;
    height: 356px;
    margin-left: 230px;
}

.content-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.content-name{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.content-text{
    margin-top: 0;
    margin-bottom: 30px;
}

.contact-btn{
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: transparent;
    padding: 18px 36px;
    margin-left: 30px;
}

.div-btn{
    display: flex;
    gap: 30px;
    margin-top: 0;
}

img[alt='mary_hardy']{
    margin-bottom: -37px; 
}

/* About Styling */

.about{
    width: 1140px;
    height: 550px;
    background-color: #fff8f3;
    margin: 130px auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container{
    width: 827px;
    height: 288px;
    border: 1px solid black;
    background-color: #fff;
}

.about-description li{
    list-style-type: none;
}

.about-description li > h5,
.about-description li > p{
    font-size: 20px;
    text-align: center;
}

.about-description ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-title{
    font-size: 35px;
    text-align: center;
}

.about-text{
    margin: 30px 15px;
    text-align: center;
}

/* Skills Styling */

.skills{
    width: 1140px;
    margin: auto;
}

.skills-description{
    width: 900px;
    height: 90px;
    margin: 0 auto 0;
}

.skills-title,
.skills-text{
    text-align: center;
}

.skills-title{
    font-size: 35px;
    margin-bottom: 30px;
}



/* Card Styling */

.cards{
    width: 1140px;
    height: 300px;
    margin: 150px auto 130px;
}

.cards > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards li{
    list-style-type: none;
}

.card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
}

.card > img{
    margin-bottom: 30px;
}

.card > h6{
    font-size: 20px;
    margin-bottom: 20px;
}

/* Resume Styling */

.resume{
    width: 1140px;
    height: auto;
    margin: 150px auto 113px;
}

.resume > h4{
    width: 100%;
    margin: 113px auto;
    text-align: center;
}

.resume-sec-1{
    width: 45%;
    float: left;
    margin-right: 25px;
}

.resume h5{
    font-weight: 600;
    margin-bottom: 30px;
}

.resume h6{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.resume h6 + p{
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-sec-3{
    width: 90%;
    height: 175px;
}

hr{
    border: 1px solid #d1d1d1;
    margin: 30px auto;
}

.align-center{
    display: block;
    width: 200px;
    height: 64px;
    white-space: nowrap;
    margin: 50px auto;
}

footer{
    width: calc(100%-230px);
    height: 780px;
    padding: 130px 230px;
    background-color: #fff8f3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 100px;
}

footer section{
    width: 50%;
}

textarea,
input{
    display: block;
    height: 40px;
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    font-size: 18px;
}

textarea{
    height: 180px;
    resize: none;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active{
    border: none;
    outline: none;
}

footer h5{
    margin-bottom: 28px;
}

footer p{
    margin-bottom: 30px;
}

.icons{
    width: 50%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;;
    margin-top: 30px;
}

footer i{
    vertical-align: middle;
    font-weight: bold;
    margin-top: 5px;
}